.sb-nav-fixed {
  background-color:white;
  .sb-topnav {

    z-index: $zindex-topnav;
  }
  #layoutSidenav {
    #layoutSidenav_nav {
      width: $sidenav-base-width;
      height: 100vh;
      z-index: $zindex-sidenav;
      .sb-sidenav {
        padding-top: $topnav-base-height;
        .sb-sidenav-menu {
          overflow-y: auto;
        }
      }
    }
    #layoutSidenav_content {

      top: $topnav-base-height;
      background-color:white

    }
  }
}
